@model Student

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Add Student</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="modal-content" class="m-b-10">
    <div class="container">
      <form asp-controller="Student" asp-action="Add" method="post">
        <div asp-validation-summary="ModelOnly">
          <span class="text-danger">Please correct the following errors</span>
        </div>
        <div class="form-group">
          <label asp-for="StudentName"></label>
          <input asp-for="StudentName" type="text" class="form-control" placeholder="Utsav Kuinkel">
          <span asp-validation-for="StudentName" class="text-danger"></span>
        </div>

        <div class="form-group">
          <label asp-for="Email"></label>
          <input type="email" class="form-control" asp-for="Email" placeholder="example@ex.com">
          <span asp-validation-for="Email" class="text-danger"></span>
          @* <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          *@
        </div>
        <div class="form-group">
          <label asp-for="Address"></label>
          <input type="text" class="form-control" asp-for="Address" placeholder="Address">
        </div>
        <div class="form-group">
          <label asp-for="Mobile"></label>
          <input asp-for="Mobile" type="text" class="form-control" placeholder="9806127432">
        </div>
        <div class="form-group">
          <label asp-for="Gender"></label>
          <select asp-for="Gender" asp-items="@ViewBag.GenderDD"></select>
        </div>
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </form>
    </div>
  </div>
  <div class="modal-footer">
    @* <button type="submit" class="btn btn-primary">Save changes</button> *@
  </div>
</div>

@* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.jquery-validation-unobtrusive.min.js"></script>

  <script>
  $('submit').click(function (){

  })
  </script> *@
